html {
	background-color:#a3a3a3;
}

#fish_container {
	width:100%;
	height:100%;
}
#category_container {
	width:100%;
	overflow-x: scroll;
}
#species_container {
	width:100%;
}
.row {
	width:100%;
	text-align: center;
	white-space: nowrap;
	
}
.node {
	width:200px;
	height:200px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;  
	cursor: pointer; 
	cursor: hand;
}
.cat_node {
	border: 2px solid transparent;
}
.cat_node:hover {
	border: 2px solid yellow;
}
.spc_node { 

}
.selected {
	border: 2px solid #48f9e6;
}